*{
    padding: 0;
    margin: 0;
}
#sugarmommy {
    margin: auto;
    width: 150px;
    height: 150px;
    border: 50px solid #ff16c1;
    border-radius: 100%;
    position: relative;
    transition: 1s;

}
#sugarmommy div{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 40px;
    transition: 1s;
}
#poshtesh{
    opacity: 0;
}
#sugarmommy:hover
#poshtesh {
    opacity: 1;
    transform: rotateY(180deg);

}
#sugarmommy:hover {
    transform: rotateY(180deg);
}
#sugarmommy:hover #jolosh{
    opacity: 0;
}
#sugarmommy:hover #poshtesh{
    opacity: 1;
}

